body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    line-height: 1.3;
}


* {
    font-family: Roboto
}

.top-header,
.second-header,
.container-2,
.footer,
.happiness {
    display: flex;
}

.container-1,
.header-main,
.header {
    display:flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding-top: 10px;
    padding-bottom: 80px;
}

ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    color:aliceblue;
    margin: 0px;
}

a,
#hero-para {
    text-decoration: none;
    color:aliceblue;
    font-size: 18px;
}

.header-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0px auto;
}
.top-header {
    justify-content: space-between;
    margin: 30px 0px;
}

.second-header {
    justify-content: space-between;
    gap: 80px;
}

#hero-img {
    padding: 0px;
    margin: 0px;
    flex: 0 1 300px;
    border-radius: 20px;
}

.header-main {
    flex: 0 0 300px;
    padding: 0px;
    gap: 5px;
}

#hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

#hero-para {
    font-size:18px;
    color:#E5E7EB;
    margin: 0px;
}

button {
    width: 120px;
    margin: 10px 0px 0px 0px;
    padding: 5px 15px;
    border-radius: 30%;
    background-color: rgb(108, 171, 198);
    color: white;
    outline: solid 1px white;
}

.container-1 {
    padding: 50px 100px;
    gap: 20px;
}

.happiness {
    display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#container-1-header {
    text-align: center;
    font-weight: 800;
    margin-bottom: 20px;
}

.momments {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 150px;
    height: 150px;
    flex: 0 0;
    border-radius: 10%;
}

.momment {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    width: 200px;
    text-align: center;
}

.random-stuff {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    justify-content: center;
    align-items: center;
}

.container-2 {
    padding: 100px 0px;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.moment-details {
    max-width: 200px;
    font-size: 12px;
    font-weight: 200;
    white-space: normal; /* 确保允许换行（覆盖可能的强制不换行） */
    overflow-wrap: break-word;
}

.random-header {
    font-family: 'Caveat';
    font-style: italic;
    font-size: 50px;
    font-weight: 400;
    margin: 0px;
}

#quote {
    margin-left: auto;
    align-self: flex-end;
    margin: 0px;
    padding: 0px;
    font-weight: 450;
    font-style: italic;
}